body { 
    background-color: lavender;
    font-family:Geneva;
}

h1 {
    padding-top: 10px;
    color: purple;
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    font-size: 40px;
}

p {
    color:purple;
    font-family: cursive;
    font-size: 20px;
    line-height: 0.8cm;
    padding-left:15px;
    /* align-items: center; */
}

.map-container{
    position:relative;
    display:flex;
    justify-content: center;
}

.smalltext{
    font-size: 12px;
    font-family:'Courier New', Courier, monospace;
    padding:none;
}

.star{
    position: absolute;
    width: 10%; 
    height: auto;
}

.map{
    width:80%;
    height:auto;
}

.star1{
    width:5%;
    top:57%;
    left:49%;
}

.star2{
    width:5%;
    top:87%;
    left:33%;
}

.star3{
    width:5%;
    top:62%;
    left:50%;
}
:root {
	--lerp-0: 1;
  --lerp-1: 0.5625;
  --lerp-2: 0.25;
  --lerp-3: 0.0625;
  --lerp-4: 0;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}
:root {
    --scale-factor: 4;
    --distance-limit: 4;
  }
  
  .dock {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    padding-left: 30px;
    padding-bottom: 30px;
    /* padding: 30px; */
  }
  
  .icon {
    width: 80px;
    height: 80px;
    /* background: linear-gradient(to top right, violet, purple); */
    border-radius: 12px;
    transition: transform 0.2s;
    transform-origin: bottom center;
  }
  
  /* Base scale */
  .icon {
    --scale: 1;
    transform: scale(var(--scale));
  }

  .icon img{
    width: 100%;
    height:100%;
    object-fit: contain;
    pointer-events: none;
  }
  
  /* Handle hover + neighbors */
  .dock:hover .icon {
    --hovered: 0;
  }
  
  .icon:hover {
    --hovered: 1;
  }
  
  /* Adjacent scaling: use JavaScript OR define lerp via selectors */
  .icon:hover {
    transform: scale(calc(var(--scale-factor)));
  }
  
  .icon:hover + .icon,
  .icon:has(+ .icon:hover),
  .icon:hover + .icon + .icon,
  .icon:has(+ .icon + .icon:hover) {
    transform: scale(1.4);
  }
  
  .icon:hover + .icon + .icon,
  .icon:has(+ .icon + .icon:hover),
  .icon:hover + .icon + .icon + .icon,
  .icon:has(+ .icon + .icon + .icon:hover) {
    transform: scale(1.2);
  }
  

  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
